.confirmationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.confirmationTitle{
  margin: 1rem 0 1.5rem;
  text-align: center;
  font-size: 2.125rem;
  font-weight: 800;
}
.gradientName {
  text-transform: capitalize;
  background: linear-gradient(to right, var(--orange-500), var(--neutral-0));
  color: transparent;
  background-clip: text;
}
.confirmationMessage {
  max-width: 300px;
  font-size: 1.125rem;
  color: var(--neutral-300);
  text-align: center;
  margin-bottom: 2rem;
}
.confirmationEmail {
  color: var(--orange-500);
}
/* Ticket */
.ticketContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  min-width: 320px;
  min-height: 150px;
  padding: 1rem;
  background-image: url(/pattern-ticket.svg);
  background-size: 100% 100%;
  background-clip: border-box;
  background-position: center;
  position: relative;
}
.ticketNum {
  position: absolute;
  width: 200px;
  height: 100px;
  display: block;
  top: 50%;
  transform: translateX(10%);
  right: -13%;
  rotate: 90deg;
  font-size: 1.125rem;
  color: var(--neutral-300);
  opacity: 50%;
}
.ticketDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  margin-bottom: 1rem;
}
.ticketDetailsHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.ticketDetailsHeading img {
  width: 25px;
  height: 25px;
  margin-bottom: 1.5rem;
}
.ticketTitle {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: .35rem;
}
.ticketDate {
  font-size: 0.75rem;
  color: var(--neutral-300);
}
.ticketUserData {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: .75rem;
}
.userAvatar {
  border-radius: 5px;
  overflow: hidden;
}
.userAvatar img {
  width: 40px;
  height: 40px;
}
.userFullName {
  font-size: 1.25rem;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: .125rem;
}
.githubDataContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: .25rem;
}
.githubIcon {
  width: 15px;
  height: 15px;
}
.userGithubAccount {
  font-size: 0.75rem;
  color: var(--neutral-300);
}

@media (min-width: 657px) {
  .confirmationTitle {
    font-size: 3rem;
  }
  .confirmationMessage {
    max-width: 500px;
    font-size: 1.35rem;
  }
  .ticketContainer {
    min-width: 430px;
    min-height: 280px;
  }
  .ticketNum {
    position: absolute;
    width: 200px;
    height: 100px;
    top: 50%;
    transform: translateX(8%);
    right: -8%;
    font-size: 1.35rem;
  }
  .ticketDetails {
    margin-bottom: 3.5rem;
  }
  .ticketTitle {
    font-size: 1.75rem;
  }
  .ticketDate {
    font-size: .875rem;
  }
  .ticketDetailsHeading img {
    width: 35px;
    height: 35px;
    margin: 0 auto 4rem;
  }
  .userAvatar img {
    width: 70px;
    height: 70px;
  }
  .userFullName {
    font-size: 1.5rem;
  }
  .userGithubAccount {
    font-size: 0.875rem;
  }
}