.confirmationContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.confirmationTitle{
  margin: 1rem 0 1.5rem;
  text-align: center;
  font-size: 2.125rem;
  font-weight: 800;
}
.gradientName {
  text-transform: capitalize;
  background: linear-gradient(to right, var(--orange-500), var(--neutral-0));
  color: transparent;
  background-clip: text;
}
.confirmationMessage {
  max-width: 300px;
  font-size: 1.125rem;
  color: var(--neutral-300);
  text-align: center;
  margin-bottom: 2rem;
}
.confirmationEmail {
  color: var(--orange-500);
}
/* Ticket */
.ticketContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  width: 300px;
  height: 150px;
  padding: 1rem;
  background-image: url(/pattern-ticket.svg);
  background-size: 100% 100%;
  background-clip: border-box;
  background-position: center;
}
.ticketDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.ticketDetailsHeading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.ticketDetailsHeading img {
  width: 25px;
  height: 25px;
}
.ticketDetailsHeading h2 {
  font-size: 1.25rem;
  font-weight: 700;
}

@media (min-width: 657px) {
  .ticketContainer {
    width: 350px;
    height: 170px;
  }
  .ticketDetailsHeading h2 {
    font-size: 1.5rem;
  }
}

.userAvatar img {
  width: 40px;
  height: 40px;
}